@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1em;
  list-style: none;
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: 1em;
}
