@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

/* Design of overall navbar */
nav {
  display: flex;
  justify-content: space-between;
}

.navbar {
  background: #1f2937;
  padding: 0.5em;
  margin: -0.5em;
}

/* Listed section of navbar */
.header-links {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1em;
  list-style: none;
}

.header-links li > a {
  font-size: 18px;
  color: #e5e7eb;
}

.header-links li > a:hover {
  cursor: pointer;
  font-weight: bold;
}

/* All links */
a {
  margin: 0 1em;
  text-decoration: none;
}

/*Logo*/
.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.logo:hover {
  cursor: pointer;
  color: #3882f6;
}

/* Divided navbar into two sections to ensure they stick to sides */
.left,
.right {
  display: flex;
  align-items: center;
  gap: 1em;
}

/* Hero image size reduced */
img {
  width: 550px;
}
